/* Fonts
   ========================================================================== */

/* ----- Font Face Mixin ----- */
@mixin font-face($name, $file) {
   font-family:$name;
   src:url('../../assets/fonts/#{$file}.woff') format('woff');
   font-weight:normal;
   font-style:normal;
}

/* ----- Insert Fonts ----- */
